<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="bi me-2" width="40" height="40" alt="Spotify icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/512px-Spotify_icon.svg.png?20220821125323">
        <span class="fs-4">Spotify Wrapped</span>
      </a>

      <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link" style="color: #000;">Home</a></li>
          <li class="nav-item"><a href="#" class="btn btn-success" aria-current="page">Reuel Sundiam</a></li>
      </ul>
    </header>
</div>