<div class="container">
    <h2 class="pb-2 text-center" >Your Most Played Artists!</h2>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div>
                <img
                    src="taylor.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Taylor Swift"
                    style="height: 50% !important;"
                />
                <h3 class="display-8 lh-1 fw-bold mb-4">2. Taylor Swift</h3>
            </div>
    
            <div>
                <img
                    src="post.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Wintry Mountain Landscape"
                    style="height: 50% !important;"
                />
                <h3 class="display-8 lh-1 fw-bold mb-4">3. Post Malone</h3>
            </div>
          
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0 d-flex align-items-center">

            <div>
                <img
                    src="ariana.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Ariana Grande"
                    style="height: 70% !important;"
                />
                <h3 class="display-6 lh-1 fw-bold mb-4">1. Ariana Grande</h3>
            </div>
          
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">

            <div>
                <img
                    src="domfike.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea"
                    style="height: 50% !important;"
                />
                <h3 class="display-8 lh-1 fw-bold mb-4">4. Dominic Fike</h3>
            </div>
          
      
            <div>
                <img
                    src="jk.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea"
                    style="height: 50% !important; object-fit: fill; max-height: 415.99px;"
                />
                <h3 class="display-8 lh-1 fw-bold mb-4">5. Juan Karlos</h3>
            </div>
        </div>
    </div>
</div>

