<div class="container px-4 py-3" id="custom-cards">
    <h2 class="pb-2" >Your Most Played Songs!</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('ikot.png'); background-repeat: no-repeat; background-size: cover;" >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Ikot by Over October</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="d-flex align-items-center me-3">
                <small class="fw-bold"></small>
              </li>
              <li class="d-flex align-items-center">
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('ere.png'); background-repeat: no-repeat; background-size: cover;" >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Ere by Juan Karlos</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="d-flex align-items-center me-3">
                <small class="fw-bold"></small>
              </li>
              <li class="d-flex align-items-center">
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('burnout.jpg'); background-repeat: no-repeat; background-size: cover;" >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Burnout by Sugarfree</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="d-flex align-items-center me-3">
                <small class="fw-bold"></small>
              </li>
              <li class="d-flex align-items-center">
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>